{% load static %}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Mind</title>

    <link rel="stylesheet" href="{% static 'pessoa/css/css.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="center">
        <h1 id="titulo">My Mind</h1>
    </div>

    <div class="center">
        <a target="_blank" class="btn btn-danger" href="http://wa.me/5531999856520" role="button">BOTÃO DE EMERGÊNCIA
        </a>
    </div>

    <div class="container">

        <form action="{% url 'home' %}" method="POST">{% csrf_token %}

            {% if messages %}
                <br>
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            
            <br>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>

            <br>

            <div class="form-group">
                <label for="acontecimento_negativo">Acontecimento Negativo:</label>
                <textarea class="form-control" id="acontecimento_negativo"
                    name="acontecimento_negativo"></textarea>
            </div>

            <br>

            <div class="form-group">
                <label for="acontecimento_positivo">Acontecimento Positivo:</label>
                <textarea class="form-control" id="acontecimento_positivo"
                    name="acontecimento_positivo"></textarea>
            </div>

            <br>

            <div class="form-group">
                <label for="estado_mental">Selecione o seu estado mental atual:</label>
                <select class="form-control" id="estado_mental" name="estado_mental">
                    {% for estado in estados %}
                    <option value="{{ estado.0 }}">{{ estado.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <br>
            <br>
            <br>

            <span>Selecione o seu estado estado de crise:</span>
            <select name="alerta_crises" class="form-select">
                {% for alerta in alertas %}
                    <option value="{{alerta.0}}">{{alerta.1}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <span>Data do Acontecimento:</span>
            <input type="date" class="form-control" name="data_acontecimento" placeholder="Quando começou...">
            <br>
            <span>Data da Superação:</span>
            <input type="date" class="form-control" name="data_superacao" placeholder="Quando acabou...">
            <br>
    
            <input type="submit" value="ENVIAR" class="btn-custom-primary">
        </form>
        
        </div>

    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Acontecimento Negativo</th>
            <th scope="col">Acontecimento Positivo</th>
            <th scope="col">Estado Mental</th>
            <th scope="col">Alerta de Crise</th>
            <th scope="col">Data do Acontecimento</th>
            <th scope="col">Data da Superação</th>
          </tr>
        </thead>
        <tbody>
          {% for registro in registros %}
          <tr>
            <td>{{ registro.nome }}</td>
            <td>{{ registro.acontecimento_negativo }}</td>
            <td>{{ registro.acontecimento_positivo }}</td>
            <td>{{ registro.get_estado_mental_display }}</td>
            <td>{{ registro.get_alerta_crises_display }}</td>
            <td>{{ registro.data_acontecimento }}</td>
            <td>{{ registro.data_superacao }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <script>

    // Obtém a data atual
    var currentDate = new Date();
    // Define a data mínima como 1990
    currentDate.setFullYear(1990);
    // Formata a data como yyyy-mm-dd
    var minDate = currentDate.toISOString().slice(0,10);
    // Obtém a data atual
    var currentDate = new Date();
    // Formata a data como yyyy-mm-dd
    var maxDate = currentDate.toISOString().slice(0,10);
    // Define as datas mínima e máxima nos elementos de entrada
    document.querySelector("input[name='data_acontecimento']").min = minDate;
    document.querySelector("input[name='data_acontecimento']").max = maxDate;
    document.querySelector("input[name='data_superaçao']").min = minDate;
    document.querySelector("input[name='data_superaçao']").max = maxDate;
    </script>
</body>

</html>