<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   
  
    <title>App MyMind</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-ligth">
        <a class="navbar-brand" href="{% url 'atendimento' %}">App - MyMind</a>

        <ul style="list-style: none;">


          {% if user.is_authenticated %}
          <li style="float: left">
            <a class="navbar-brand">Olá, {{ user.get_username }}</a>
          <li style="float: left">
            <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% else %}
          <li style="float: left">
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li style="float: left">
            <a class="nav-item nav-link" href="{% url 'novo_usuario' %}">Fazer Cadastro</a>
          </li>
          {% endif %}
        
       
        </ul>

      </nav>
        {% block conteudo %}
        {% endblock %}





  </script>


  </body>

</html>
